html {
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

header {
  position: relative;
}

h1 {
  color: #d94756;
  font-size: 1.5em;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

h2 {
  color: #d94756;
  font-size: 1em;
  text-align: center;
}

.sun {
  position: absolute;
  top: -65px;
}

.sun-2 {
  position: absolute;
  top: 250px;
}

.sun-3 {
  position: absolute;
  top: 425px;
}

.rel {
  position: relative;
}

.banner {
  background: url("../images/background-texture.svg") center center / cover no-repeat;
  padding-bottom: 8em;
  position: absolute;
  top: 115px;
  width: 100%;
}

@media only screen and (min-width: 22em) {

  .sun-3 {
    top: 455px;
  }
}

@media only screen and (min-width: 24em) {

  .sun {
    top: -90px;
  }

  .banner {
    top: 140px;
  }

  .sun-2 {
    top: 275px;
  }

  .sun-3 {
    top: 510px;
  }
}

@media only screen and (min-width: 40em) {

}

@media only screen and (min-width: 60em) {

  .sun {
    position: absolute;
    top: -220px;
  }

  .sun-2 {
    position: absolute;
    top: 1000px;
  }

  .sun-3 {
    position: absolute;
    top: 1800px;
  }

  .banner {
    top: 550px;
  }
}

@media only screen and (min-width: 80em) {

}
